<mat-card style="margin: 20px 40px 40px 40px;">
    <mat-card-title>
       <button mat-raised-button color="primary" (click)="openModal(templateCreate)">
            <mat-icon mat-list-icon>add</mat-icon>Nuevo Ticket
       </button> 
    </mat-card-title>

    <mat-divider></mat-divider>

    <mat-card-content class="dashboard-card-content">
        <mat-form-field MatFormFieldControl >
            <mat-label>Buscar</mat-label>
            <input matInput (keyup) ="aplicarFiltroTabla($event)" #input>
        </mat-form-field>
<div class="mat-elevation-z2">
<table mat-table [dataSource]="dataInicio" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="Numero">
      <th mat-header-cell *matHeaderCellDef> Numero </th>
      <td mat-cell *matCellDef="let element"> {{element.ticID}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="Description">
      <th mat-header-cell *matHeaderCellDef>  Description</th>
      <td mat-cell *matCellDef="let element"> {{element.tic_description}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let element"> {{element.tic_usuName}} </td>
      </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="Usuario">
      <th mat-header-cell *matHeaderCellDef> Usuario </th>
      <td mat-cell *matCellDef="let element"> {{element.tic_usuName}} </td>
    </ng-container>

    <ng-container matColumnDef="Hora de salida">
        <th mat-header-cell *matHeaderCellDef> Hora de salida </th>
        <td mat-cell *matCellDef="let element"> {{element.tic_departureDate}} </td>
      </ng-container>

      <ng-container matColumnDef="Hora de llegada">
        <th mat-header-cell *matHeaderCellDef> Hora de  llegada </th>
        <td mat-cell *matCellDef="let element"> {{element.tic_arrivalDate}} </td>
      </ng-container>

      <ng-container matColumnDef="Estado">
        <th mat-header-cell *matHeaderCellDef> EStado </th>
        <td mat-cell *matCellDef="let element"> {{element.tic_status== "V" ?'Activo':'Inactivo'}} </td>
      </ng-container>

    <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef style="width: 80px;">Acciones</th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="editarTicket(element, template1)">
                <mat-icon >edit</mat-icon>
           </button> 
           <button mat-icon-button color="warn" (click)="eliminarTicket(element)">
            <mat-icon >delete</mat-icon>
       </button> 
        </td>
      </ng-container>
      
    <tr mat-header-row *matHeaderRowDef="columnasTabla"></tr>
    <tr mat-row *matRowDef="let row; columns: columnasTabla;"></tr>

    <tr  class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No hay datos que coincidas con el filtro{{input.value}}</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons>

  </mat-paginator>
</div>

    </mat-card-content>
</mat-card>

<ng-template #template1 >
    <h2 mat-dialog-title>{{tituliAction}} Ticket</h2>
<mat-dialog-content >
    <form [formGroup]="formularioTicketEdit" >
      
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Descripcion</mat-label>
                                <input matInput autocomplete="off" type="text" formControlName="description" >
                                <mat-icon matSuffix>account-box</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Nombre</mat-label>
                                <input matInput autocomplete="off" type="text" formControlName="name" >
                                <mat-icon matSuffix>mail</mat-icon>
                            </mat-form-field>
        
                        </div>
                    </div>
                      <div class="row">
                        <div class="col-6">
                            <mat-form-field class="search__form_field" appearance="outline">
                                <mat-label>Fecha de salida</mat-label>
                                <input  matInput [matDatepicker]="picker" aria-label="Fecha de creación inicial"
                                  formControlName="departure" placeholder="dd/mm/yyyy">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker >
                                  <mat-datepicker-actions>
                                    <button mat-button matDatepickerApply>Aplicar</button>
                                  </mat-datepicker-actions>
                                </mat-datepicker>
                              </mat-form-field>
            
                        </div>
                        <div class="col-6">
  
                            <mat-form-field class="search__form_field" appearance="outline">
                                <mat-label>Fecha de llgada</mat-label>
                                <input  matInput [matDatepicker]="picker" aria-label="Fecha de creación inicial"
                                  formControlName="arrival" placeholder="dd/mm/yyyy">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker [disabled]="piker">
                                  <mat-datepicker-actions>
                                    <button mat-button matDatepickerApply>Aplicar</button>
                                  </mat-datepicker-actions>
                                </mat-datepicker>
                              </mat-form-field>
                        </div>
                      </div> 
                 <div class="row">
                    <div class="col-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Estado</mat-label>
                            <mat-select formControlName="estado" >
                                <mat-option [value]="1">
                                Activo 
                                </mat-option> 
                                <mat-option [value]="2">
                                    Inactivo 
                                    </mat-option> 
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-6"></div>
                 
                 </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align ="end"
>
<button mat-raised-button color="warn" (click) = "modalCLose()">Volver</button>
<button mat-raised-button color="primary"
[disabled] = "formularioTicketEdit.invalid"
(click) = "Editar_Ticket()"
>{{botonActionEdit}}</button>
</mat-dialog-actions>

</ng-template>
<!-- <ng-template #template1 >
    <h2 mat-dialog-title>{{tituliAction}} Ticket</h2>
<mat-dialog-content >
    <form [formGroup]="formularioTicketEdit" >
        <mat-grid-list cols ="1" rowHeight ="80px" gutterSize="15px" >

                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Descripcion</mat-label>
                        <input matInput autocomplete="off" type="text" formControlName="description" >
                        <mat-icon matSuffix>account-box</mat-icon>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Nombre</mat-label>
                        <input matInput autocomplete="off" type="text" formControlName="name" >
                        <mat-icon matSuffix>mail</mat-icon>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                <mat-form-field class="search__form_field" appearance="outline">
                    <mat-label>Fecha de salida</mat-label>
                    <input  matInput [matDatepicker]="picker" aria-label="Fecha de creación inicial"
                      formControlName="departure" placeholder="dd/mm/yyyy">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker >
                      <mat-datepicker-actions>
                        <button mat-button matDatepickerApply>Aplicar</button>
                      </mat-datepicker-actions>
                    </mat-datepicker>
                  </mat-form-field>
                </mat-grid-tile>


                <mat-grid-tile>
                    <mat-form-field class="search__form_field" appearance="outline">
                        <mat-label>Fecha de llgada</mat-label>
                        <input  matInput [matDatepicker]="picker" aria-label="Fecha de creación inicial"
                          formControlName="arrival" placeholder="dd/mm/yyyy">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker [disabled]="piker">
                          <mat-datepicker-actions>
                            <button mat-button matDatepickerApply>Aplicar</button>
                          </mat-datepicker-actions>
                        </mat-datepicker>
                      </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Estado</mat-label>
                        <mat-select formControlName="estado" >
                            <mat-option [value]="1">
                            Activo 
                            </mat-option> 
                            <mat-option [value]="2">
                                Inactivo 
                                </mat-option> 
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
        </mat-grid-list>
    </form>
</mat-dialog-content>
<mat-dialog-actions align ="end"
>
<button mat-raised-button color="warn" (click) = "modalCLose()">Volver</button>
<button mat-raised-button color="primary"
[disabled] = "formularioTicketEdit.invalid"
(click) = "Editar_Ticket()"
>{{botonAction}}</button>
</mat-dialog-actions>

</ng-template> -->

<ng-template #templateCreate>
    <h2 mat-dialog-title>{{tituliAction}} Usuario</h2>
    <mat-dialog-content >
        <form [formGroup]="formularioTicketCreate" >
          
                        <div class="row">
                            <div class="col-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>Descripcion</mat-label>
                                    <input matInput autocomplete="off" type="text" formControlName="description" >
                                    <mat-icon matSuffix>account-box</mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>Nombre</mat-label>
                                    <input matInput autocomplete="off" type="text" formControlName="name" >
                                    <mat-icon matSuffix>mail</mat-icon>
                                </mat-form-field>
            
                            </div>
                        </div>
                          <div class="row">
                            <div class="col-6">
                                <mat-form-field class="search__form_field" appearance="outline">
                                    <mat-label>Fecha de salida</mat-label>
                                    <input  matInput [matDatepicker]="picker" aria-label="Fecha de creación inicial"
                                      formControlName="departure" placeholder="dd/mm/yyyy">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker >
                                      <mat-datepicker-actions>
                                        <button mat-button matDatepickerApply>Aplicar</button>
                                      </mat-datepicker-actions>
                                    </mat-datepicker>
                                  </mat-form-field>
                
                            </div>
                            <div class="col-6">
      
                                <mat-form-field class="search__form_field" appearance="outline">
                                    <mat-label>Fecha de llgada</mat-label>
                                    <input  matInput [matDatepicker]="picker2" aria-label="Fecha de creación inicial"
                                      formControlName="arrival" placeholder="dd/mm/yyyy">
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2 >
                                      <mat-datepicker-actions>
                                        <button mat-button matDatepickerApply>Aplicar</button>
                                      </mat-datepicker-actions>
                                    </mat-datepicker>
                                  </mat-form-field>
                            </div>
                          </div> 
                     <div class="row">
                        <div class="col-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Estado</mat-label>
                                <mat-select formControlName="estado" >
                                    <mat-option [value]="1">
                                    Activo 
                                    </mat-option> 
                                    <mat-option [value]="2">
                                        Inactivo 
                                        </mat-option> 
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-6"></div>
                     
                     </div>
        </form>
    </mat-dialog-content>
<mat-dialog-actions align ="end"
>
<button mat-raised-button color="warn" (click) = "modalCLose()">Volver</button>
<button mat-raised-button color="primary"
[disabled] = "formularioTicketCreate.invalid"
(click) = "guardar_Ticket()"
>{{botonActionCreate}}</button>
</mat-dialog-actions>

</ng-template>



