<mat-toolbar color = "primary">
    <mat-toolbar-row>
        <h1>Gestión de tiquestes navieros</h1>
        <button mat-icon-button (click)="sidenav.toggle();">
            <mat-icon>
                menu
            </mat-icon>
        </button>
    </mat-toolbar-row>

</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav opened="true" mode ="side" style="width: 200px;">
        <mat-nav-list>
  
            <mat-list-item routerLink="/pages/user" >
                <mat-icon matListItemIcon>group</mat-icon>
                <div mat-line>Usuarios</div>
            </mat-list-item>

            <mat-list-item routerLink="/pages/ticket" >
                <mat-icon matListItemIcon>collections_bookmark</mat-icon>
                <div mat-line>Tickets</div>
            </mat-list-item>
 


        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 90vh;">
        <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>