<mat-card style="margin: 20px 40px 40px 40px;">
    <mat-card-title>
       <button mat-raised-button color="primary" (click)="openModal(templateCreate)">
            <mat-icon mat-list-icon>add</mat-icon>Nuevo usuario
       </button> 
    </mat-card-title>

    <mat-divider></mat-divider>

    <mat-card-content class="dashboard-card-content">
        <mat-form-field MatFormFieldControl >
            <mat-label>Buscar</mat-label>
            <input matInput (keyup) ="aplicarFiltroTabla($event)" #input>
        </mat-form-field>
<div class="mat-elevation-z2">
<table mat-table [dataSource]="dataInicio" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="nombreCompleto">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.usuName}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="correo">
      <th mat-header-cell *matHeaderCellDef>  Email</th>
      <td mat-cell *matCellDef="let element"> {{element.usuEmail}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <!-- <ng-container matColumnDef="rolDescripcion">
      <th mat-header-cell *matHeaderCellDef> Descripcion </th>
      <td mat-cell *matCellDef="let element"> {{element.rolDescription}} </td>
    </ng-container> -->
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef> Estado </th>
      <td mat-cell *matCellDef="let element"> {{element.usuStatus == 'V' ? 'Activo' : 'No activo'}} </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef style="width: 80px;">Acciones</th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="editarUsuario(element, template1)">
                <mat-icon >edit</mat-icon>
           </button> 
           <button mat-icon-button color="warn" (click)="eliminarUsuario(element)">
            <mat-icon >delete</mat-icon>
       </button> 
        </td>
      </ng-container>
      
    <tr mat-header-row *matHeaderRowDef="columnasTabla"></tr>
    <tr mat-row *matRowDef="let row; columns: columnasTabla;"></tr>

    <tr  class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No hay datos que coincidas con el filtro{{input.value}}</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons>

  </mat-paginator>
</div>

    </mat-card-content>
</mat-card>
<ng-template #template1>
    <h2 mat-dialog-title>{{tituliAction}} Usuario</h2>
<mat-dialog-content>
    <form [formGroup]="formularioUsuarioEdit">
        <mat-grid-list cols ="1" rowHeight ="80px">

                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Nombre</mat-label>
                        <input matInput autocomplete="off" type="text" formControlName="nombreCompleto" >
                        <mat-icon matSuffix>account-box</mat-icon>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput autocomplete="off" type="text" formControlName="correo" >
                        <mat-icon matSuffix>mail</mat-icon>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Estado</mat-label>
                        <mat-select formControlName="esActivo" >
                            <mat-option [value]="1">
                            Activo 
                            </mat-option> 
                            <mat-option [value]="2">
                                Inactivo 
                                </mat-option> 
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
        </mat-grid-list>
    </form>
</mat-dialog-content>
<mat-dialog-actions align ="end"
>
<button mat-raised-button color="warn" (click) = "modalCLose()">Volver</button>
<button mat-raised-button color="primary"
[disabled] = "formularioUsuarioEdit.invalid"
(click) = "Editar_Usuario()"
>{{botonAction}}</button>
</mat-dialog-actions>

</ng-template>

<ng-template #templateCreate>
    <h2 mat-dialog-title>{{tituliAction}} Usuario</h2>
<mat-dialog-content>
    <form [formGroup]="formularioUsuarioCreate">
        <mat-grid-list cols ="1" rowHeight ="80px">

                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Nombre</mat-label>
                        <input matInput autocomplete="off" type="text" formControlName="nombreCompleto" >
                        <mat-icon matSuffix>account-box</mat-icon>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput autocomplete="off" type="text" formControlName="correo" >
                        <mat-icon matSuffix>mail</mat-icon>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                <mat-form-field class="full-width" appearance ="outline">
                    <mat-label>Contraseña</mat-label>
                    <input [type] = "ocultarPassword? 'password' : 'text'"
                     formControlName="password"
                      matInput autocomplete = "off" type="text">
                      <button mat-icon-button matSuffix 
                      (click) = "ocultarPassword = !ocultarPassword"
                      type="button"
                      >
                        <mat-icon matSuffix>{{ocultarPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                    
                </mat-form-field>
            </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Estado</mat-label>
                        <mat-select formControlName="esActivo" >
                            <mat-option [value]="1">
                            Activo 
                            </mat-option> 
                            <mat-option [value]="2">
                                Inactivo 
                                </mat-option> 
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
        </mat-grid-list>
    </form>
</mat-dialog-content>
<mat-dialog-actions align ="end"
>
<button mat-raised-button color="warn" (click) = "modalCLose()">Volver</button>
<button mat-raised-button color="primary"
[disabled] = "formularioUsuarioCreate.invalid"
(click) = "guardar_Usuario()"
>{{botonAction}}</button>
</mat-dialog-actions>

</ng-template>



